# ignore objects and archives
*.so
*.pcm
*.d
*~

#ignore data files
*.root
*.png
*.pdf
#ignore figures
Plots
Figures
plots
# Ignore .DS_Store, if mac for some reason makes this file
.DS_Store

#Ignore CMS style file
CMS

#Ignore latex tables
OutTexFile
OutTxtFile

#Ignore extra files
MC/JetAnalyzer/FileList.txt
MC/JetAnalyzer/remote_JetAnalyzer.C